#form-container{
position:absolute;
z-index:2;
top:95%;
left:5%;
color:#fff;
}
#form-container a,button{
color:#fff;
text-decoration:none;
background:none;
border:0;
opacity:0.6;
padding:0;
font-size:16px;
-webkit-transition:opacity 0.5s;
transition:opacity 0.5s;
}
#form-container a:hover,button:hover{
opacity:1;
border-bottom:1px solid #fff;
}

#uniq_login{
position:absolute;
top:-35%;
right: -85%;
width: 70%;
}

#login-container{
position:absolute;
width:100%;
height:100%;
top:0;
left:0;
background:#fff;
opacity:0.95;
z-index:2;
overflow:auto;
}
#login-form{
position:relative;
width:400px;
height:400px;
margin:10% auto;
color:#024986;
}
.label{
width:380px;
padding:5px;
text-align:right;
font-weight:900;
}
#login-form input[type="text"],input[type="password"]{
width:380px;
padding:10px 5px 10px 5px;
margin-bottom:30px;
color:#000;
font-size:20px;
}
#login-form button{
padding:10px;
border:0;
color:#fff;
background:#024986;
}
#return{
color:#000;
padding:10px;
width:200px;
border:1px solid #024986;
text-align:center;
margin:50px auto;
cursor:pointer;
transition:background 0.5s; 
}
#return:hover{
background-color:#024986;
}

.hide{
display:none;
}

#uniq-container{
position:absolute;
text-align:center;
height:auto;
padding:5px;
font-size:11px;
color:#fff;
background-color:rgba(255,255,255,0.1);
}

#uniq-link{
text-align:center;
width:100%;
display:none;
font-size:13px;
padding:10px 0px 10px 0px;
}
#uniq-link a{
color:#fff;
padding-bottom:10px;
text-decoration:none;
}
#uniq-link a:hover{
text-decoration:underline;
}

#uniq-container:hover #uniq-link, #uniq-container:active #uniq-link{
display:block;
background-color:rgba(0,0,0,0.8);
}

body{
background-color: black;
}

#bg{
position:absolute;
width:100%;
min-height:100%;
height:auto;
margin-bottom: 10px;
background-image:url('./website/website_bg.png');
background-size:100% 100%;
overflow-y:hidden;
}

#header{
position:absolute;
width:100%;
height:86px;
top:0;
left:0;
background:#fff;
opacity:0.95;
}

#logo{
position:absolute;
width:79px;
height:74px;
top:6px;
left:10px;
background-image:url('./website/sensors17_logo.jpg');
background-size:100% 100%;
}

#page{
position:absolute;
left:100px;
top:28px;
width:auto;
height:auto;
padding:2px 5px 2px 5px;
opacity:0.95;
background-color:#024986;
color:#fff;
font-size:18px;
font-family:"Source Sans Pro";
}

#link-container{
position:absolute;
top:28px;
right:30px;
}
#link-container a{
text-decoration:none;
font-size:18px;
font-family:"Source Sans Pro";
color:#aaa;
margin-left:10px;
transition:color 0.5s;
-webkit-transition:0.5s;
}
#link-container a:hover{
color:#024986;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: rgba(0,0,0,0.2);
}

::-webkit-scrollbar
{
	width: 8px;
	background-color: rgba(0,0,0,0.2);
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.1);
	background-color: rgba(255,255,255,0.8);
}

@media (min-width: 1200px) {
#uniq-container{
width:8%;
bottom:2.5%;
left:79.4%;
}
}

@media (min-width: 768px) and (max-width: 1199px) {
#uniq-container{
width:11%;
bottom:2.5%;
left:75%;
}
}

@media (max-width: 767px) {
#uniq-container{
width:30%;
bottom:2%;
left:5%;
}
#form-container{
top: 12%;
left: 4%;
}
#fbLike{
left:70%;
}
}