body,html{
height: 100%;
margin: 0;
}

.parallax {
position:absolute; 
background-image:url("./website/website_bg.png");
width:100%;
height:100%;
background-size:100% 100%;
background-repeat:no-repeat;
overflow: hidden;
}

#icea_logo{
position: absolute;
top: 2%;
left: 85%;
height: 30%;
}

#sensors_middle{
position: absolute;
top: 32%;
left: 12.5%;
width: 75%;
height: 33%;
}

#workshops-link, #events-link, #about-link, #contact-link{
position:absolute;
width:31.5%;
height: 55%;
top: -5%;
left: 18.8%;
opacity: 0.7;
}

#events-link{
left: 49.7%;
}

#about-link{
top: 47.5%;
left: 19%;
}

#contact-link{
top: 47.5%;
left: 49.5%;
}

#workshops-link:hover, #events-link:hover, #about-link:hover, #contact-link:hover{
opacity: 1;
}

#sca h1{
position: absolute;
top: 90%;
left: 35%;
color: white;
}

#uniq{
position:absolute;
top:7%;
left:3%;
height:10%;
}

#uniq-container{
position:absolute;
text-align:center;
height:auto;
padding:6px;
width:150x;
bottom:2%;
left:70%;
font-size:13px;
color:#fff;
background-color:rgba(255,255,255,0.1);
}

#uniq-link{
text-align:center;
width:100%;
display:none;
font-size:13px;
padding:10px 0px 10px 0px;
}
#uniq-link a{
color:#fff;
padding-bottom:10px;
text-decoration:none;
}
#uniq-link a:hover{
text-decoration:underline;
}

#uniq-container:hover #uniq-link, #uniq-container:active #uniq-link{
display:block;
background-color:rgba(0,0,0,0.8);
}

@media only screen and (orientation:portrait){
#background-container{
width:200%;
height:100%;
}

#fbLike{
left:180%;
}

#uniq-container{
left:140%;
bottom:3%;
}
}


@media only screen and (max-device-width: 480px) {
#login-container{
width:200%;
}
}

