#background-container{ 
position:absolute; 
background-image:url("./website/website_bgm.jpg");
width:100%;
height:100%;
background-size:100% 100%;
background-repeat:no-repeat;
}

#about-link{
position:absolute;
width:11.45%;
height:21%;
top:28.4%;
left:4.40%;
background-size:100% 100%;
background-image:url("./website/box-01.png");
}

#workshops-link{
position:absolute;
width:13.16%;
height:27.5%;
top:54.05%;
left:20.75%;
background-size:100% 100%;
background-image:url("./website/multi-01.png");
}

#events-link{
position:absolute;
width:8.7%;
height:27%;
top:42.45%;
left:45.3%;
background-size:100% 100%;
background-image:url("./website/bulb-01.png");
}

#team-link{
position:absolute;
width:8.5%;
height:27.85%;
top:24.65%;
left:67.73%;
background-size:100% 100%;
background-image:url("./website/person-01.png");
}

#contact-link{
position:absolute;
width:14.25%;
height:32.75%;
top:51.7%;
left:81.5%;
background-size:100% 100%;
background-image:url("./website/wire-01.png");
}


#uniq{
position:absolute;
top:7%;
left:3%;
height:10%;
}

#uniq-container{
position:absolute;
text-align:center;
height:auto;
padding:2px;
width:150px;
bottom:2.5%;
left:70%;
font-size:13px;
color:#fff;
background-color:rgba(255,255,255,0.1);
}

#uniq-link{
text-align:center;
width:100%;
display:none;
font-size:13px;
padding:10px 0px 10px 0px;
}
#uniq-link a{
color:#fff;
padding-bottom:10px;
text-decoration:none;
}
#uniq-link a:hover{
text-decoration:underline;
}

#uniq-container:hover #uniq-link, #uniq-container:active #uniq-link{
display:block;
}

@media only screen and (orientation:portrait){
#background-container{
width:200%;
height:100%;
}

#about-link{
position:absolute;
width:22.9%;
height:21%;
top:28.4%;
left:8.80%;
background-size:100% 100%;
background-image:url("./website/box-01.png");
}

#workshops-link{
position:absolute;
width:26.32%;
height:27.5%;
top:54.05%;
left:41.5%;
background-size:100% 100%;
background-image:url("./website/multi-01.png");
}

#events-link{
position:absolute;
width:17.4%;
height:27%;
top:42.45%;
left:90.6%;
background-size:100% 100%;
background-image:url("./website/bulb-01.png");
}

#team-link{
position:absolute;
width:17%;
height:27.85%;
top:24.65%;
left:135.46%;
background-size:100% 100%;
background-image:url("./website/person-01.png");
}

#contact-link{
position:absolute;
width:28.5%;
height:32.75%;
top:51.7%;
left:163%;
background-size:100% 100%;
background-image:url("./website/wire-01.png");
}

#fbLike{
left:180%;
}

#uniq-container{
left:140%;
bottom:3%;
}
}


@media only screen and (max-device-width: 480px) {
#login-container{
width:200%;
}
}